

.clearout {
height:20px;
clear:both;
}

#flexiselDemo3 {
display:none;
}

.live_crousel .nbs-flexisel-container {
    position:relative;
    max-width:100%;
    width: 830px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.live_crousel .nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.live_crousel .nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    width: 98%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    /* margin-left: 20px;  */
}

.live_crousel .nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    /* cursor:pointer; */
    position:relative;
    line-height:0px;
}
.live_crousel .nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    max-width:276px;
    max-height:193px;
}

.live_crousel .nbs-flexisel-item div{

    border: 2px solid #d03332;
    width: 92%;
    float: left;
    display: inline-block;
    border-radius: 3px;
    position: relative;

}
.live_crousel .nbs-flexisel-item div span{
    position: absolute;
    top: 72px;
    font-size: 17px;
    text-transform: uppercase;
    z-index: 10;
    font-family: 'Oswald', sans-serif;
    color: #000;
    left: 42px;
  
}
.live_crousel .nbs-flexisel-item div a{
    color: #000;
    text-decoration: none;
}

/*** Navigation ***/

.live_crousel .nbs-flexisel-nav-left,
.live_crousel .nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.live_crousel .nbs-flexisel-nav-left {
    left: -11px;
    background: url(../images/button-previous.png) no-repeat;
    background: url(../images/arrow_left.png) no-repeat;
}

.live_crousel .nbs-flexisel-nav-right {
    right: -15px;
    
    background: url(../images/button-next.png) no-repeat;
    background: url(../images/arrow_right.png) no-repeat;
}