


#flexiselDemo4 {
display:none;
}

.clnt_crs .nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.clnt_crs .nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.clnt_crs .nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.clnt_crs .nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    /* cursor:pointer; */
    position:relative;
    line-height:0px;
}
.clnt_crs .nbs-flexisel-item img {
    /* width: 100%; */
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:200px;
    max-height:95px;
}

/*** Navigation ***/

.clnt_crs .nbs-flexisel-nav-left,
.clnt_crs .nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.clnt_crs .nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/button-previous.png) no-repeat;
}

.clnt_crs .nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/button-next.png) no-repeat;
}